<header>
    <h1>snapface</h1>
    <nav>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a> <!-- exact: true is used to make sure that the link is active only when the url is exactly the same as the link || Ignorez l'activation des routes enfants-->
        <a routerLink="facesnaps" routerLinkActive="active">FaceSnaps</a> <!-- routerLinkActive is used to make sure that the link is active when the url contains the link -->
    </nav>
  </header>